<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<meta charset="UTF-8"></meta>
<meta name="viewport"
	content="width=device-width,initial-scale=1,shrink-to-fit=no">
<head>
<title th:text="#{formula.update.title}"></title>
<!-- CSS読込 -->
<link rel="stylesheet" th:href="@{/css/update.css}">
</head>
<body>
	<div layout:fragment="content">
		<div class="header border-bottom">
			<h1 class="h2" th:text="#{formula.update.title}"></h1>
		</div>
		<form id="update-form" method="post"
			th:action="@{/calculation/formula/update}"
			class="form-edit" th:object="${form}">
			<input type="hidden" th:field="*{formulaId}" />
			<!-- 計算式詳細情報 -->
			<table class="table table-striped table-bordered table-hover">
				<tbody>
					<tr>
						<th>計算式名</th>
						<td><input type="text" class="form-control"
							th:field="*{formulaName}" th:errorclass="is-invalid" /></td>
					</tr>
					<tr>
						<th>加減値（年）</th>
						<td><input type="text" class="form-control"
							th:field="*{year}" th:errorclass="is-invalid" /></td>
					</tr>
					<tr>
						<th>加減値（月）</th>
						<td><input type="text" class="form-control"
							th:field="*{month}" th:errorclass="is-invalid" /></td>
					</tr>
					<tr>
						<th>加減値（日）</th>
						<td><input type="text" class="form-control" th:field="*{day}"
							th:errorclass="is-invalid" /></td>
					</tr>
				</tbody>
			</table>
			<!-- ボタンエリア -->
			<div class="text-center">
				<!-- 更新ボタン -->
				<button class="btn btn-primary" type="submit">更新実行</button>
			</div>
		</form>
	</div>
</body>
</html>