<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<meta name="viewport"
	content="width=device-width,initial-scale=1,shrink-to-fit=no">
<!-- CSS読込 -->
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/top.css}">
<!-- JS読込 -->
<script th:src="@{webjars/jquery/jquery.min.js}" defer></script>
<script th:src="@{webjars/bootstrap/js/bootstrap.min.js}" defer></script>
<title>Top</title>
</head>
<body class="bg-light">
	<div class="text-center">
		<form method="post" th:action="@{/date-calculation/result}" class="form-top">
			<h5>計算基準日を入力してください</h5>
			<div class="form-top">
				<input type="text" class="form-control" placeholder="YYYY/MM/DD" name="referenceDate" />
			</div>
			<input type="submit" value="計算実行" class="btn btn-primary" />
		</form>
		<a th:href="@{/date-calculation/formula/register}">計算式を登録する</a>
	</div>
</body>
</html>