<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8"></meta>
<meta name="viewport"
	content="width=device-width,initial-scale=1,shrink-to-fit=no">
<!-- CSS読込 -->
<link rel="stylesheet" th:href="@{/css/index.css}">
<title>Top</title>
</head>
<body class="bg-white">
	<div layout:fragment="content">
		<div class="text-center">
			<form method="post" th:action="@{/date-calculation/index.html}"
				class="form-top" th:object="${referenceDateForm}">
				<h5>計算基準日を入力してください</h5>
				<div class="form-top">
					<input type="text" class="form-control" placeholder="YYYYMMDD"
						th:field="*{referenceDate}" th:errorclass="is-invalid" />
					<div class="invalid-feedback" th:errors="*{referenceDate}"></div>
				</div>
				<input type="submit" value="計算実行" class="btn btn-primary" />
			</form>
			<a th:href="@{/date-calculation/formula/register}">計算式を登録する</a>
		</div>
	</div>
</body>
</html>